@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar1::-webkit-scrollbar {
    width: 8px;
    opacity: 0.5;
  }
  
  .scrollbar1::-webkit-scrollbar-track {
    background: #d3d1d1;
    border-radius: 10px;
  }
  
  .scrollbar1::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background: #868585;
    border-radius: 10px;
  }

  .head-Content {
    position: relative;
    color: aqua;
  }
  
  .head-Content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }
  .head-Content2 {
    position: relative;
    color: aqua;
  }
  
  .head-Content2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }

  .head-Content1 {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 50%;
    height: 80%;
  }
  
.head-Content1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

  
  @keyframes showRight {
    100% {
      width: 0;
    }
  }
